// centrare elementi
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// distanziare gli elementi con between
@mixin between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin start() {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

// posiziono gli elementi in colonna con flex
@mixin column() {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

// impostazioni predefinite icone
@mixin iconSize() {
    width: 60px;
    height: 60px;
}